<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.lemon.listener.TestFailListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="F:/code/auto_test_framework">
        <classes>
            <class name="com.lemon.testcases.LoginTest"/>
<!--            <class name="com.lemon.testcases.InvestTest"/>-->
        </classes>
    </test>
</suite>